// ALFPHABET

@font-face {
    font-family: 'alfphabet-I';
    src: url('assets/font/alfphabet/Alfphabet-I.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alfphabet-III';
    src: url('assets/font/alfphabet/Alfphabet-III.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alfphabet-IV';
    src: url('assets/font/alfphabet/Alfphabet-IV.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// NEWS CYCLE

@font-face {
    font-family: 'news-cycle';
    src: url('assets/font/news-cycle/newscycle-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'news-cycle';
    src: url('assets/font/news-cycle/newscycle-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
