

.header {
    padding: @margin / 2 0;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div {
        flex-shrink: 0;
    }
}
.header__logo {
    font-size: 1.2rem;
    margin-right: @margin;
}
.header__links {
    a {
        margin-left: @margin / 2;
        padding: 0 0.5ch;
        text-decoration: none;
        color: inherit;
        &:hover {
            background-color: @pitchLinkColor;
            text-decoration: underline !important;
        }
    }
}